<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head'); -%>
  </head>
  <body>
    <header>
      <%- include('../layout/header'); -%>
    </header>
    <main>
      <ul>
        <li>
          <h3>Task: <%= task.title %></h3>
          <p>Desc: <%= task.description %></p>
          <p>Contact: <%= task.contact %></p>
          <p>Status: <%= task.status %></p>
          <p>Category: <%= task.category %></p>
          <p>Due: <%= task.due %></p>         
        </li>
      </ul>

      <h2> update task </h2>
      <form action="<%=`/update/${task.id}`%>" method="post">

        <input type="hidden" name="_method" value="put">

        <input type="text" name="title" value="<%- task.title %>">
        <textarea name="description" placeholder="Description of the task" cols="30" rows="10"><%= task.description %></textarea>
        <input type="text" name="category" value="<%-task.category%>" placeholder="Category">
        <input type="text" name="contact" value="<%-task.contact%>" placeholder="Contact Person">
        <input type="text" name="status" value="<%-task.status%>" placeholder="Completion Status">
        <button type="submit">Update This Task</button>
      </form>
    </main>
  </body>
</html>